services:
  # gateway:
  #   build: ./gateway
  #   container_name: gateway
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - auth_service
  #     - redis
  #   environment:
  #     - REDIS_URL=redis:6379
  #   networks:
  #     - chatnet

  # chat-service:
  #   build: ./chat_service
  #   container_name: chat_service
  #   depends_on:
  #     - redis
  #     - mongo-chat
  #   environment:
  #     - REDIS_URL=redis:6379
  #     - MONGO_URL=mongodb://mongo-chat:27017/chatdb
  #   networks:
  #     - chatnet

  # auth_service:
  #   build: ./auth_service
  #   container_name: auth_service
  #   ports:
  #     - "50051:50051"
  #   depends_on:
  #     - redis
  #     - mongo-user
  #   environment:
  #     - REDIS_URL=redis:6379
  #     - MONGO_URL=mongodb://mongo-user:27017/userdb
  #   networks:
  #     - chatnet

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  mongo-chat:
    image: mongo:7
    container_name: mongo_chat
    ports:
      - "27018:27017"
    volumes:
      - mongo_chat_data:/data/db

  mongo-user:
    image: mongo:7
    container_name: mongo_user
    ports:
      - "27019:27017"
    volumes:
      - mongo_user_data:/data/db

volumes:
  mongo_chat_data:
  mongo_user_data:
# networks:
#   chatnet:
#     driver: bridge
